.user {
  display: flex;
  flex-direction: column;
  width: 300px;
  background: #fff;
  padding: 10px;
  min-height: 300px;
}
.user__telephone {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}
.user__email {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}
.user__icon {
  width: 16px;
  height: 16px;
  background-image: contain;
  margin-right: 10px;
}
.user__text {
  font-size: 16px;
}
.user__subtitle {
  font-size: 32px;
  margin-bottom: 40px;
}
.user__text_email {
  text-decoration: underline;
}
